In [20]:
import os
import glob
import pandas as pd

In [21]:
def csv_files():
    '''
    Locates and returns CSV files in data directory.
    '''
    # initial directory
    cwd = os.getcwd()
    
    # path to directory that contains CSV files
    path = os.getcwd() + "/data"
    
    # file type extension
    extension = "csv"
    
    # try to change to path directory and return list of csv files
    try:
        os.chdir(path)
        result = glob.glob('*.{}'.format(extension))
    # cache except
    except:
        print("Somrthing wrong with specified directory./nException: ", sys.exc_info())
    #handling with finally
    finally:
        print("Restoring the path & return list of CSV files.")
        os.chdir(cwd)
        return result

In [22]:
filenames = csv_files()

Restoring the path & return list of CSV files.

In [23]:
dtype = {
    "id_str": str
}

In [24]:
df = pd.concat((pd.read_csv(f"data/{f}", dtype=dtype) for f in filenames))

In [25]:
df.head()

,id_str,screen_name,created_at,lang,source,retweet_count,favorite_count,is_retweet,full_text
0,1208823227012861952,SenSanders,2019-12-22 18:54:50,en,Twitter Web App,2526,12622,False,Pope Francis said one of the world's most seri...
1,1208776817290760192,SenSanders,2019-12-22 15:50:25,en,Twitter Web App,1962,7730,False,Trickle-down economics has always been a fraud...
2,1208549189979955201,SenSanders,2019-12-22 00:45:55,en,Twitter Web App,1175,6142,False,Instead of listening to Sheldon Adelson and ot...
3,1208501407286005760,SenSanders,2019-12-21 21:36:03,en,Twitter Web App,2257,11957,False,"In 1970, 30-year-olds had a 92% chance of earn..."
4,1208486786646847489,SenSanders,2019-12-21 20:37:57,en,Twitter Web App,855,4125,False,It is an absolute disgrace that a refugee agen...

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117985 entries, 0 to 3249
Data columns (total 9 columns):
id_str            117985 non-null object
screen_name       117985 non-null object
created_at        117985 non-null object
lang              117985 non-null object
source            117983 non-null object
retweet_count     117985 non-null int64
favorite_count    117985 non-null int64
is_retweet        117985 non-null bool
full_text         117985 non-null object
dtypes: bool(1), int64(2), object(6)
memory usage: 8.2+ MB

In [27]:
# change created_at column to datetime
df["created_at"] = pd.to_datetime(df["created_at"])

# change lang column to category type
df["lang"] = df["lang"].astype("category")

# change source column to category type
df["source"] = df["source"].astype("category")

In [28]:
df["is_retweet"].mean()

0.17361529007924736