In [77]:
import os
import glob
import pandas as pd

In [78]:
def csv_files():
    '''
    Locates and returns CSV files in data directory.
    '''
    # initial directory
    cwd = os.getcwd()
    
    # path to directory that contains CSV files
    path = os.getcwd() + "/data"
    
    # file type extension
    extension = "csv"
    
    # try to change to path directory and return list of csv files
    try:
        os.chdir(path)
        result = glob.glob('*.{}'.format(extension))
    # cache except
    except:
        print("Somrthing wrong with specified directory./nException: ", sys.exc_info())
    #handling with finally
    finally:
        print("Restoring the path & return list of CSV files.")
        os.chdir(cwd)
        return result

In [79]:
filenames = csv_files()

Restoring the path & return list of CSV files.

In [80]:
dtype = {
    "id_str": str
}

In [81]:
%%time

df = pd.concat((pd.read_csv(f"data/{f}", dtype=dtype) for f in filenames))

CPU times: user 1.03 s, sys: 189 ms, total: 1.22 s
Wall time: 2.94 s

In [82]:
df.head()

,id_str,screen_name,created_at,lang,source,retweet_count,favorite_count,is_retweet,full_text
0,1209319045411028993,NBCNews,2019-12-24 03:45:03,en,SocialFlow,12,28,False,A North Carolina man is accused of using eye d...
1,1209315792657043457,NBCNews,2019-12-24 03:32:07,en,SocialFlow,4,16,False,11 best gifts and gadgets for home cooks. http...
2,1209308993459572742,NBCNews,2019-12-24 03:05:06,en,SocialFlow,14,61,False,A woman upset that KFC got sandwich wrong call...
3,1209300423456280576,NBCNews,2019-12-24 02:31:03,en,SocialFlow,22,50,False,California is taking the lead in helping stude...
4,1209297409316196352,NBCNews,2019-12-24 02:19:04,en,SocialFlow,26,106,False,Lizzo responds to social commentator who says ...

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264542 entries, 0 to 3249
Data columns (total 9 columns):
id_str            264542 non-null object
screen_name       264542 non-null object
created_at        264542 non-null object
lang              264542 non-null object
source            264471 non-null object
retweet_count     264542 non-null int64
favorite_count    264542 non-null int64
is_retweet        264542 non-null bool
full_text         264542 non-null object
dtypes: bool(1), int64(2), object(6)
memory usage: 18.4+ MB

In [84]:
# change created_at column to datetime
df["created_at"] = pd.to_datetime(df["created_at"])

# change lang column to category type
df["lang"] = df["lang"].astype("category")

# change source column to category type
df["source"] = df["source"].astype("category")

In [85]:
df["is_retweet"].mean()

0.2020019505409349

In [86]:
df["is_retweet"].sum()

53438

In [87]:
cnt = 0
for user in sorted(df["screen_name"].unique()):
    cnt += 1
    print(f"User #{cnt}: {user}")

User #1: 50cent
User #2: ABC
User #3: AOC
User #4: AP
User #5: ActuallyNPH
User #6: BarackObama
User #7: BetoORourke
User #8: BillGates
User #9: BuzzFeed
User #10: CBSNews
User #11: CIA
User #12: CNN
User #13: ChuckGrassley
User #14: DwightHoward
User #15: DwyaneWade
User #16: Edelman11
User #17: FBI
User #18: FOXSports
User #19: FoxNews
User #20: Google
User #21: HamillHimself
User #22: HillaryClinton
User #23: JHarden13
User #24: Kaepernick7
User #25: KevinHart4real
User #26: KimKardashian
User #27: KingJames
User #28: LindseyGrahamSC
User #29: MLBNetwork
User #30: MagicJohnson
User #31: MarkRuffalo
User #32: MeekMill
User #33: MichelleObama
User #34: MittRomney
User #35: NASA
User #36: NBCNews
User #37: NPR
User #38: Oprah
User #39: Reuters
User #40: RobertDowneyJr
User #41: SFGiants
User #42: SHAQ
User #43: SarahKSilverman
User #44: SenKamalaHarris
User #45: SenSanders
User #46: SenSchumer
User #47: SethMacFarlane
User #48: SnoopDogg
User #49: SpeakerPelosi
User #50: SpeakerRyan
User #51: SportsCenter
User #52: TIME
User #53: TheDailyShow
User #54: TheEconomist
User #55: TheEllenShow
User #56: TuckerCarlson
User #57: Twitter
User #58: USATODAY
User #59: VP
User #60: VancityReynolds
User #61: WSJ
User #62: aplusk
User #63: brielarson
User #64: dallascowboys
User #65: espn
User #66: ewarren
User #67: jaketapper
User #68: justinbieber
User #69: katyperry
User #70: maddow
User #71: marcorubio
User #72: neiltyson
User #73: nyknicks
User #74: nytimes
User #75: obj
User #76: ochocinco
User #77: politico
User #78: realDonaldTrump
User #79: rustyrockets
User #80: seanhannity
User #81: selenagomez
User #82: senatemajldr
User #83: serenawilliams
User #84: stephenasmith
User #85: tonyhawk
User #86: wizkhalifa